%footer.footer.bg-base-200.text-base-content.p-10.mt-10
  %aside
    = link_to root_path, class: "btn btn-ghost text-xl" do
      FlowMetr
  
  %nav
    
  %nav
    %h6.footer-title Company
    = link_to 'Imprint', imprint_path, class: 'link link-hover'
    = link_to 'About us', about_path, class: 'link link-hover'
   
  %nav
    %h6.footer-title Legal
    = link_to 'Terms of use',  terms_path, class: 'link link-hover'
    = link_to 'Privacy policy', privacy_path, class: 'link link-hover'