!!!
%html{"data-theme" => "light"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    %title= meta_title
    %meta{:content => meta_description, :name => "description"}/
    %meta{:content => meta_title, :property => "og:title"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "#{request.original_url}", :property => "og:url"}/
    %meta{:content => meta_image, :property => "og:image"}/
    %meta{:content => meta_description, :property => "og:description"}/
    %meta{:content => meta_title, :property => "og:site_name"}/
    %meta{:content => "summary_large_image", :name => "twitter:card"}/
    %meta{:content => "#{DEFAULT_META["twitter_account"]}", :name => "twitter:site"}/
    %meta{:content => meta_title, :name => "twitter:title"}/
    %meta{:content => meta_description, :name => "twitter:description"}/
    %meta{:content => "#{DEFAULT_META["twitter_account"]}", :name => "twitter:creator"}/
    %meta{:content => meta_image, :name => "twitter:image:src"}/
    = favicon_link_tag 'favicon.ico'
    %link{:href => "https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://cdn.tailwindcss.com"}
    = javascript_importmap_tags
  %body
    .grid.min-h-screen{:class => "grid-rows-[auto_1fr_auto]"}
      = render "shared/navbar"
      = render "shared/flash_messages"
      %main.container.mx-auto.mt-8
        = yield
      = render "shared/footer"
